* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #1d1d1d;
  color: #fff;
  font-family: sans-serif;
}

header a {
  color: #fff;
  text-decoration: none;
}

header h1 {
  font-size: 24px;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: #fff;
}

.menu .active {
  color: rgb(118, 118, 240);
}

.Container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.Container h1 {
  text-align: center;
}

.Exchange {
  display: flex;
  flex-direction: row;
  padding: 20px 100px;
}

form {
  background-color: #ec4c8a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgb(188, 183, 183);
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  height: 40vh;
}

.formInside {
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.formInside label {
  display: flex;
  flex-direction: column;
}

.formInside input[type="number"] {
  background-color: #e3c9d3;
  color: #271c3b;
  width: 15vw;
  height: 8vh;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px rgb(190, 182, 182);
  outline: none;
  text-indent: 5px;
  font-size: 18px;
}

.menus ul {
  list-style: none;
}

.menus ul li {
  padding: 10px;
}

.formInside .equal {
  font-size: 25px;
}

.formInside select {
  background-color: #e3c9d3;
  display: block;
  width: 18vw;
  height: 8vh;
  border-radius: 7px;
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgb(190, 182, 182);
  font-size: 18px;
}

.formInside span {
  text-align: center;
  padding: 10px 0;
}

.selectors {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex: 1;
}

#from {
  flex: 3;
}

.formInside img {
  height: 4vh;
}

.formInside select option {
  height: 50px;
  padding: 100px 0;
}

form input[type="button"] {
  width: 20%;
  height: 8vh;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px rgb(190, 182, 182);
  background-color: #1d1d1d;
  color: #fff;
  transition: 0.5s;
  font-size: 16px;
}

form input[type="button"]:hover {
  background-color: blue;
  color: #fff;
}

.listContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
}

.listContainer .equalto {
  background-color: #ec4c8a;
  padding: 30px 0;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 20px;
}

.changing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.list {
  box-shadow: 0 0 5px rgb(190, 182, 182);
  border-radius: 3px;
  height: 40vh;
  overflow: scroll;
  width: 100%;
  padding: 10px;
  list-style: none;
  background-color: #1d1d1d;
  color: #fff;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.listitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 18px;
  font-family: sans-serif;
}

.support {
  padding: 20px 100px;
}

.supportContainer h1 {
  padding-bottom: 40px;
}

.support h1 {
  text-align: center;
  font-family: sans-serif;
}

.supportList::-webkit-scrollbar {
  width: 20px;
}

.supportList::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.supportList::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.support .supportList {
  list-style: none;
  display: flex;
  height: 70vh;
  overflow: scroll;
  flex-direction: column;
  padding: 30px 0;
  gap: 4px;
  box-shadow: 0 0 10px darkcyan;
  border-radius: 10px;
  background-color: #ec4c8a;
  color: #fff;
}

.supportList::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.support .supportList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 0.2px solid rgb(232, 221, 221);
  font-size: 14px;
  flex-wrap: wrap;
  gap: 5px;
}

.supportList li img {
  width: 50px;
}

.status {
  color: rgb(19, 169, 19);
  font-size: 18px;
  font-weight: 500;
}

#selectedIcon {
  display: none;
}

.displaytop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #868dc4;
  padding: 25px 0;
}

.imags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.supportedshow {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.date {
  font-size: 15px;
}

.Loading {
  font-size: 30px;
  text-align: center;
  padding: 30% 0;
  color: #392577;
}
